{% extends 'tasks/layout.html' %}


{% block title %}Todo {% endblock %}


{% block body %}
<div class="todo-app">
    <h1>What's the plan for today?</h1>
    <br />
    <div class="form-container">
        <form method="POST" action="/" class="todo-form">
            {% csrf_token %}
            {{form.title}}
            <input type="submit" name="Add Todo" value="Add todo" class="todo-button" />
        </form>
    </div>
    <div class="">
        {% for task in tasks %}
        <div class="todo-row">

            {% if task.complete == True %}
            <strike>{{task}}</strike>
            {% else %}
            <span>{{task}}</span>
            {% endif %}

            <div class="todo-options">
                
                <a href="{% url 'update_task' task.id %}">Edit</a>
                <a href="{% url 'delete' task.id %}">Delete</a>

            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}