{% extends 'tasks/layout.html' %}


{% block title %}Todo {% endblock %}


{% block body %}
    <h2>TODO</h2>

    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input type="submit" name="Add Todo" />
    </form>


    {% for task in tasks %}
    <div>
        <a href="{% url 'update_task' task.id %}">Change</a>
        <a href="{% url 'delete' task.id %}">Delete</a>

        {% if task.complete == True %}
            <strike>{{task}}</strike>
        {% else %}
            <span>{{task}}</span>
        {% endif %}

    </div>
    {% endfor %}
{% endblock body %}
