* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --bg: #f7f8fd;
  --grey-text: #c3d1d9;
  --blue-headers: #283459;
  --app-bg: #f9f9f9;
  --box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.67);
}

.root {
  text-align: center;
  background-color: var(--bg);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
}

.todo-app h1,
.todo-app h2,
.todo-app p {
  color: var(--blue-headers);
  margin: 1rem auto;
}

.todo-app .todo-form {
  margin: 32px;
  text-align: center;
  vertical-align: middle;
}

.todo-app .todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 1rem 0 0 1rem;
  border: 2px solid #179deb;
  outline: none;
  width: 320px;
  background: transparent;
  color: var(--grey-text);
  color: var(--blue-headers);
}

.todo-app .todo-button {
  font-weight: 600;
  padding: 16px;
  border: none;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  outline: none;
  background: #179deb;
  color: #ececec;
  text-transform: capitalize;
}

.todo-app .complete-todo {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-app .complete-todo input[type=checkbox] {
  padding: 1rem;
  -webkit-transform: scale(2);
          transform: scale(2);
  cursor: pointer;
}

.todo-app .cancel-link {
  margin: 1rem auto;
  padding: .5rem 1rem;
  text-decoration: none;
  color: #39b529;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.todo-app .cancel-link:hover {
  background: #39b529;
  color: var(--bg);
}

.todo-app .confirm-delete {
  margin: 1rem auto;
  font-size: 1.7rem;
  font-weight: 700;
  padding: .5rem 1rem;
  background: var(--bg);
  color: #e95a74;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.todo-app .confirm-delete:hover {
  background: #e95a74;
  color: var(--bg);
}

.todo-app .todo-row {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px auto;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#4f5a68), to(#a0bcda));
  background: linear-gradient(90deg, #4f5a68 0%, #a0bcda 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  -webkit-transition: .4s;
  transition: .4s;
}

.todo-app .todo-row:hover {
  opacity: 70%;
}

.todo-app .todo-row:nth-child(4n + 1) {
  background: -webkit-gradient(linear, left top, right top, from(#0d1e52), to(#9b00fa));
  background: linear-gradient(90deg, #0d1e52, #9b00fa 100%);
}

.todo-app .todo-row:nth-child(4n + 2) {
  background: -webkit-gradient(linear, left top, right top, from(#0665f7), to(#ae008b));
  background: linear-gradient(90deg, #0665f7, #ae008b 100%);
}

.todo-app .todo-row:nth-child(4n + 3) {
  background: -webkit-gradient(linear, left top, right top, from(#149fff), to(#117aff));
  background: linear-gradient(90deg, #149fff 0%, #117aff 100%);
}

.todo-app .todo-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.todo-app .img-wrap {
  margin: 0 .5rem;
}

.todo-app .img-wrap #icons {
  -webkit-filter: invert(88%) sepia(24%) saturate(31%) hue-rotate(197deg) brightness(105%) contrast(100%);
          filter: invert(88%) sepia(24%) saturate(31%) hue-rotate(197deg) brightness(105%) contrast(100%);
  width: calc(10px + 1vmin);
  height: calc(10px + 1vmin);
  -webkit-transition: .4s;
  transition: .4s;
  background: transparent;
}

.todo-app .img-wrap #icons:hover {
  width: calc(20px + 1vmin);
  height: calc(20px + 1vmin);
}

.footer-main {
  overflow: hidden;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0.8em;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  color: var(--bg);
  text-align: center;
  width: 100%;
  background-color: #2d353d;
}

.footer-main .footer-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer-main .footer-inside > div {
  float: left;
}

.footer-main .github-icon {
  height: 25px;
  width: 25px;
  margin-left: 1em;
  -webkit-filter: invert(95%) sepia(2%) saturate(759%) hue-rotate(198deg) brightness(103%) contrast(98%);
          filter: invert(95%) sepia(2%) saturate(759%) hue-rotate(198deg) brightness(103%) contrast(98%);
}
/*# sourceMappingURL=style.css.map */